body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

/* ------------------ кнопки ------------------ */

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;

  text-align: center;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* ------------------ скрытые элементы ------------------ */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------ центровщик ------------------ */
body.catalog-page {
  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* ------------------  ------------------ */

.main-header {
  margin-bottom: 270px;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.catalog-page .main-header {
  margin-bottom: 10px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 18px;

  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-right: 28px;

  vertical-align: middle;
  color: #ffffff;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;

  width: 700px;

  align-items: center;
  margin-left: 24px;
}

.navigation-button {
  display: inline-block;
  padding: 9px 16px;

  border-radius: 16px;
}

.navigation-button-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #d07058;
}

.catalog-navigation {
  font-weight: 400;
  background-color: #f8f7f4;
}

.catalog-navigation li:first-child {
  font-weight: 700;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation a:hover {
  background-color: #fbded7;
}

.catalog-navigation a:focus {
  background-color: #f6b5a5;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;

  min-width: 245px;
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-navigation-item {
  margin-left: 10px;
}

.user-navigation a {
  padding: 9px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.user-navigation .search-batton {
  position: relative;

  padding: 0;
  width: 33px;
  height: 33px;

  text-decoration: none;
}

.search-batton::before {
  content: "";

  position: absolute;
  width: 17px;
  height: 17px;

  left: 8px;
  top: 8px;

  background-image: url("../img/icon-header-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 44px;

  text-decoration: none;
}

.login-link::before {
  content: "";

  position: absolute;
  width: 21px;
  height: 19px;

  left: 16px;
  top: 6px;

  background-image: url("../img/icon-header-enter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart-batton {
  position: relative;
  padding-left: 44px;

  text-decoration: none;
}

.catalog-page .cart-batton {
  position: relative;
  padding-left: 44px;

  color: #323232;

  text-decoration: none;

  background-color: rgba(248, 247, 244, 0.99);
}

.cart-batton::before {
  content: "";

  position: absolute;
  width: 21px;
  height: 20px;

  left: 16px;
  top: 7px;

  background-image: url("../img/icon-header-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-page .cart-batton::before {
  content: "";

  position: absolute;
  width: 21px;
  height: 20px;

  left: 16px;
  top: 7px;

  background-image: url("../img/icon-header-basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.search input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.navigation-info {
  display: flex;
  flex-direction: column;
}

.navigation-info a,
.navigation-info p {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-bottom: 5px;
}

.navigation-info a {
  color: #ffffff;
  text-decoration: none;
}

.navigation-info-time {
  font-size: 14px;
  line-height: 16px;
}

.navigation-info-phone {
  font-size: 22px;
  line-height: 24px;
}

.main-slider {
  margin-bottom: 41px;

  position: relative;
  /*padding-top: 321px;*/

  text-align: center;
  color: #ffffff;
}

.main-slider h3 {
  font-size: 60px;
  line-height: 60px;

  width: 675px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
  width: 100%;
}

.main-slider a.main-slider-button {
  padding-left: 42px;
  padding-right: 42px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#switch-slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#switch-slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#switch-slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}


#switch-slide-1:checked ~ .site-wrapper #slide-1,
#switch-slide-2:checked ~ .site-wrapper #slide-2,
#switch-slide-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#switch-slide-1:checked ~ .site-wrapper label[for="switch-slide-1"],
#switch-slide-2:checked ~ .site-wrapper label[for="switch-slide-2"],
#switch-slide-3:checked ~ .site-wrapper label[for="switch-slide-3"] {
  background-color: #ffffff;
}

.banner {
  display: flex;
  justify-content: space-between;

  min-height: 229px;

  margin-bottom: 40px;
}

.banner-item {
  position: relative;

  font-size: 18px;
  line-height: 22px;

  width: 520px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.banner ul {
  list-style: none;
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  padding: 0;
}

.banner-button {
  position: absolute;
  right: 21px;
  bottom: 23px;

  padding-left: 23px;
  padding-right: 23px;

  border-radius: 23px;
}

.raspberry {
  background: url(../img/bcg-raspberry.jpg) no-repeat;
}

.chocolate {
  background: url(../img/bcg-chocolate.jpg) no-repeat;
}

.catalog,
.catalog-item {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.catalog ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.main-catalog-item,
.catalog-item {
  position: relative;

  width: 267px;
}

.catalog img {
  margin-bottom: 10px;
}

.main-catalog-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item-price {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 212px;
  left: 0;
}

.catalog a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.catalog-item-link {
  display: inline-block;

  text-align: center;
}

.catalog a.button {
  font-weight: 700;
}

.catalog a:focus,
.catalog a:hover {
  color: #ffbc9e;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;

  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

/* .catalog-item-price svg {
  margin: 0;
  padding: 0;

  transform: translateX(-5px);
} */

/* .catalog-item-price span::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 3px;

  width: 26px;
  height: 31px;

  background-image: url("../img/P.svg");
  background-repeat: no-repeat;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
} */

.main-catalog-item:hover,
.catalog-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-catalog-item:hover ~ .catalog-button,
.catalog-item:hover ~.catalog-button {
  display: block;
}

.catalog-button {
  position: absolute;
  bottom: -59px;
  left: 33px;

  padding-left: 17px;
  padding-right: 17px;

  border-radius: 22px;

  z-index: 10;
}

.catalog-button {
  display: none;
}

.main-catalog-item:hover .catalog-button,
.catalog-item:hover .catalog-button {
  display: block;
}

.main-features {
  color: #323232;
  font-weight: 400;

  background: url(../img/bcg-waffle.jpg);
  border-radius: 15px;

  margin-bottom: 40px;
}

.main-features h3 {
  margin: 0 20px;
  padding-top: 27px;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.main-features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-right: 30px;

  list-style: none;
}

.features-item {
  position: relative;

  width: 478px;

  margin-left: 75px;
  margin-bottom: 18px;
}

.features-item::before {
  content: "";

  position: absolute;

  width: 49px;
  height: 49px;

  top: -16px;
  left: -56px;
}

.features-item-1::before {
  background-image: url("../img/icon-seo-ice-cream.svg");
}

.features-item-2::before {
  background-image: url("../img/icon-seo-cow.svg");
}

.features-item-3::before {
  background-image: url("../img/icon-seo-leaf.svg");
}

.features-item-4::before {
  background-image: url("../img/icon-seo-thermometer.svg");
}

.main-blog {
  display: flex;
  justify-content: space-between;

  margin-bottom: 39px;
}

.main-blog-item {
  width: 520px;
  min-height: 160px;

  border-radius: 15px;
}

.main-blog-preview {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/bcg-strawberry-small.jpg");
  background-repeat: no-repeat;
  background-position: left center;
}

.main-blog-preview h3 {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.main-blog-preview a {
  display: inline-block;

  width: 300px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.main-blog-item {
  position: relative;

  padding: 30px 20px;

  max-width: 560px;
}

.main-subscription {
  position: relative;
  font-weight: 400;
  color: #5a5a5a;

  background: url(../img/bcg-strips.png) no-repeat;
}

.main-subscription-background {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;

  width: 549px;
  background-color: #ffffff;
  border-radius: 15px;
}

.main-subscription p {
  margin: 35px 21px;
  margin-bottom: 35px;
  padding: 0;
}

.main-subscription input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  margin-left: 20px;

  background-color: #ffffff;
}

.subscription-button {
  position: absolute;
  bottom: 40px;
  right: 25px;

  padding-left: 19px;
  padding-right: 19px;

  line-height: 24px;

  border-radius: 22px;
}

.main-map {
  width: 1200px;
  height: 430px;

  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;
}

.main-map::before {
  content:"";

  position: absolute;
  top: 139px;
  left: 266px;

  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
}

.main-map-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;

  width: 302px;

  position: absolute;
  top: 63px;
  right: 27px;
}

.main-map-info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.map-info-adress {
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 25px;
}

.map-info-phone {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 105px;*
}

.map-info-button {
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  line-height: 24px;

  border-radius: 22px;
}

.cart-contents {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #3232323;
  background-color: #ffffff;
}

.cart-contents {
  width: 540px;
  color: #323232;
}

.cart-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.cart-button {
  padding-left: 14px;
  padding-right: 14px;

  line-height: 24px;

  border-radius: 22px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  font-weight: 400;
  color: #ffffff;
}

.catalog-page h1 {
  margin-bottom: 30px;
}

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 860px;
}

.filter fieldset {
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
}

.filter-button {
  display: block;

  width: 144px;
  height: 37px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);

  border: 2px solid #ffffff;
  border-radius: 18.5px;
}

.sort {
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs-current a {
  text-decoration: none;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-end;

  width: 190px;

  margin-left: auto;
  margin-bottom: 35px;
}

.catalog-pagination a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;

  margin-right: 25px;
}

.catalog-pagination a:hover,
.catalog-pagination a:focus {
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-pagination a:active {
  color: #323232;
}

.catalog-pagination .catalog-link-current {
  color: rgba(255, 255, 255, 0.2);
}

.catalog-page .main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  padding-top:18px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.main-footer ul {
  list-style: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-top: 18px;

  width: 185px;
}

.footer-social .social-button {
  display: inline-block;

  width: 32px;
  height: 32px;
}

.social-tw {
  background-image: url("../img/logo-twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-inst {
  background-image: url("../img/logo-instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-fb {
  background-image: url("../img/logo-facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-vk {
  background-image: url("../img/logo-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info .current {
  font-weight: 700;

  position: relative;
}

.footer-info .current::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -22px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-footer-heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;

  font-weight: 400;
}

/* ------------------ форма входа/регистрации ------------------ */

.login input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}

.login-button {
  width: 100px;
  height: 44px;

  border-radius: 22px;
}

/* ------------------ модальное окно ------------------ */

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback input,
.feedback textarea {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-button {
  padding-left: 24px;
  padding-right: 24px;

  border-radius: 22px;
}
