body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.main-header {
  margin-top: 9px;
  margin-bottom: 280px;
}

.catalog-page .main-header {
  margin-bottom: 10px;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;

  width: 245px;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;

  width: 349px;
}

.site-navigation a {
  color: #ffffff;
}

.navigation-button {
  display: inline-block;
  height: 32px;
  align-items: baseline;
}

.navigation-button-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #d07058;
}

.catalog-navigation {
  font-weight: 400;
  background-color: #f8f7f4;
}

.catalog-navigation li:first-child {
  font-weight: 700;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation a:hover {
  background-color: #fbded7;
}

.catalog-navigation a:focus {
  background-color: #f6b5a5;
}

.search input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.search input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.navigation-info {
  display: flex;
  flex-direction: column;
}

.navigation-info a,
.navigation-info p {
  margin-left: auto;
}

.navigation-info a {
  color: #ffffff;
  text-decoration: none;
}

.navigation-info-time {
  font-size: 14px;
  line-height: 16px;
}

.navigation-info-phone {
  font-size: 22px;
  line-height: 24px;
}

.main-slider {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 41px;
}

.main-slider h3 {
  font-size: 60px;
  line-height: 60px;

  width: 670px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-slider ul {
  list-style: none;
  width: 100%;
}

.main-slider a.main-slider-button {
  width: 280px;
  height: 64px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
}

.banner {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.banner-item {
  font-size: 18px;
  line-height: 22px;

  width: 520px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.banner ul {
  list-style: none;
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  padding: 0;
}

.banner-button {
  width: 165px;
  height: 46px;

  border-radius: 23px;
}

.raspberry {
  background: url(../img/bcg-raspberry.jpg) no-repeat;
}

.chocolate {
  background: url(../img/bcg-chocolate.jpg) no-repeat;
}

.catalog {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.catalog ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.catalog a:focus,
.catalog a:hover {
  color: #ffbc9e;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.main-catalog-item,
.catalog-item {
  width: 267px;
}

.catalog-item {
  margin-bottom: 40px;
}

.main-catalog-item:hover,
.catalog-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-button {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;

  background-color: #e84d37;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;

  width: 200px;
  height: 44px;

  border-radius: 22px;
}

.main-catalog-item:hover .catalog-button,
.catalog-item:hover .catalog-button {
  display: block;
}

.main-features {
  color: #323232;
  font-weight: 400;

  background: url(../img/bcg-waffle.jpg);
  border-radius: 15px;

  margin-bottom: 40px;
}

.main-features h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.main-features ul {
  list-style: none;
}

.main-features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.features-item {
  width: 470px;

  margin-left: 80px;
  margin-bottom: 28px;
}

.main-blog {
  display: flex;
  justify-content: space-between;

  margin-bottom: 39px;
}

.main-blog-item {
  width: 560px;

  border-radius: 15px;
}

.main-blog-preview {
  color: #323232;

  background: url(../img/bcg-strawberry.jpg) no-repeat;
}

.main-blog-preview h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.main-blog-preview a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.main-subscription {
  font-weight: 400;
  color: #5a5a5a;

  background: url(../img/bcg-strips.png) no-repeat;
}

.main-subscription input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

.subscription-button {
  width: 129px;
  height: 44px;

  border-radius: 22px;
}

.main-map {
  width: 1200px;
  height: 430px;
  background-image: url(../img/map.jpg);
  margin: 0 auto;
  margin-bottom: 18px;
  position: relative;
}

.main-map-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;

  width: 302px;

  position: absolute;
  top: 63px;
  right: 27px;
}

.map-info-adress {
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 25px;
}

.map-info-phone {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 105px;*
}

.main-map-info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.map-info-button {
  display: block;
  width: 252px;
  height: 44px;

  border-radius: 22px;

  margin-bottom: 30px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.cart-contents {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #3232323;
  background-color: #ffffff;
}

.cart-contents {
  width: 540px;
  color: #323232;
}

.cart-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.cart-button {
  display: block;
  width: 170px;
  height: 44px;

  border-radius: 22px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  font-weight: 400;
  color: #ffffff;
}

.catalog-page h1 {
  margin-bottom: 30px;
}

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 860px;
}

.filter fieldset {
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.filters ul {
  list-style: none;
}

.filter-button {
  display: block;

  width: 144px;
  height: 37px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);

  border: 2px solid #ffffff;
  border-radius: 18.5px;
}

.sort {
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs-current a {
  text-decoration: none;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-end;

  margin-left: auto;
  margin-bottom: 35px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;

  display: flex;
  justify-content: space-between;

  width: 135px;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(248, 247, 244, 0.2);
}

.pagination-item a:active {
  color: #323232;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
}

.catalog-page .main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  padding-top:18px; 
}

.main-footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.main-footer ul {
  list-style: none;
}

.copyright-info {
  font-size: 12px;
  line-height: 18px;
}

.footer-info li:first-child a {
  font-weight: 700;
}

.visually-hidden {
  display: none;
}

/* ------------------ центровщик ------------------ */

.container {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------ форма входа/регистрации ------------------ */

.login input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}

.login-button {
  width: 100px;
  height: 44px;

  border-radius: 22px;
}

/* ------------------ модальное окно ------------------ */

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback input,
.feedback textarea {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-button {
  width: 252px;
  height: 44px;

  border-radius: 22px;
}

/* ------------------ кнопки ------------------ */

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #e84d37;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

a.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.button:hover {
  background-color: #f07a63;
  color: #ffffff;
}
