body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

body.catalog-page {
  background-color: #849d8f;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #e84d37;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 275px;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 1146px;
  min-height: 64px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.main-navigation .main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  min-width: 700px;
  min-height: 64px;
}

.site-navigation a {
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation .navigation-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 14px;
  color: #ffffff;
}

.site-navigation .navigation-button:hover,
.site-navigation .navigation-button:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 16px;
  text-decoration: none;
}

.site-navigation .navigation-button:active {
  color: #333333;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  border-radius: 16px;
  text-decoration: none;
}

.navigation-button-current {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 16px;
}

.site-navigation > li {
  position: relative;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.catalog-navigation {
  position: absolute;
  top: 37px;
  display: none;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-width: 143px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.site-navigation-catalog:hover .catalog-navigation {
  display: block;
  z-index: 10;
}

.catalog-navigation li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}

.catalog-navigation li:first-child {
  font-weight: 700;
  padding-top: 12px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-navigation li:nth-child(2) {
  padding-top: 10px;
}

.catalog-navigation li:last-child {
  padding-bottom: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-navigation a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.catalog-navigation li:hover,
.catalog-navigation li:focus {
  background-color: #fbded7;
}

.catalog-navigation li:active {
  background-color: #f6b5a5;
}

.catalog-navigation li.current {
  background-color: #d07058;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  min-width: 245px;
  min-height: 64px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navigation li {
  margin-left: 10px;

  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.user-navigation a {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
}

.navigation-item-search,
.navigation-item-login {
  position: relative;
}

.user-navigation-button {
  position: relative;
}

.user-navigation .search-button {
  padding: 0;
  width: 33px;
  height: 33px;
}

.search-button svg.search-button-img {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 8px;
  top: 8px;
}

.search-button:focus,
.search-button:hover {
  background-color: #f8f7f4;
}

.search-button:focus path,
.search-button:hover path {
  fill: #000000;
}

.navigation-search-form {
  position: absolute;
  right: 0;
  top: 37px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  display: none;
}

.navigation-search-form input {
  padding-left: 15px;
  width: 311px;
  height: 44px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  font: inherit;
}

.navigation-item-search:hover .navigation-search-form {
  display: block;
  z-index: 10;
}

.user-navigation .login-batton {
  padding-left: 44px;
}

.login-batton svg.login-button-img {
  position: absolute;
  width: 21px;
  height: 19px;
  left: 16px;
  top: 6px;
}

.login-batton:focus,
.login-batton:hover {
  background-color: #f8f7f4;
}

.login-batton:focus path,
.login-batton:hover path,
.login-batton:focus polygon,
.login-batton:hover polygon {
  fill: #000000;
}

.navigation-login-form {
  position: absolute;
  right: 0;
  top: 37px;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  padding: 20px 15px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  display: none;
}

.navigation-item-login:hover .navigation-login-form {
  display: block;
  z-index: 10;
}

.navigation-login-form input {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 241px;
  height: 44px;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  font: inherit;
}

.navigation-login-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.navigation-login-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.navigation-login-form p {
  margin: 0;
  padding: 0;
}

.navigation-login-form a {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.navigation-login-form a:hover,
.navigation-login-form a:focus {
  color: #e84d37;
}

.login-button {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 44px;
  border-radius: 22px;
}

.user-navigation a.cart-batton,
.user-navigation a.cart-batton:hover,
.user-navigation a.cart-batton:focus {
  padding-left: 44px;
  color: #ffffff;
}

.catalog-page a.cart-batton,
.catalog-page a.cart-batton:hover,
.catalog-page a.cart-batton:focus {
  color: #323232;
}

.catalog-page .cart-batton {
  padding-left: 44px;
  color: #323232;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.99);
}

.cart-batton::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-header-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-page .cart-batton::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-header-basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-cart {
  position: relative;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart {
  position: absolute;
  top: 38px;
  right: 0;
  padding: 15px;
  padding-top: 0;
  width: 540px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 10;
  display: none;
}

.user-navigation-cart:hover .cart {
  display: block;
  z-index: 10;
}

.cart-contents img {
  margin-right: 10px;
  margin-left: 10px;
}

.cart-contents {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-align: left;
  border-spacing: 0 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #cacac7;
}

.cart-contents .delete-button {
  width: 11px;
  height: 11px;
  border: 0;
  background: url("../img/cross-small.svg") no-repeat 0 0;
  cursor: pointer;
}

.cart .price {
  white-space: nowrap;
  padding-right: 25px;
}

.cart-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.cart-close-button {
  float: right;
  margin-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 24px;
  border-radius: 22px;
}

.cart .cart-close-button:hover,
.cart .cart-close-button:focus {
  color: #ffffff;
}

.search input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.search input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.catalog-page .main-header {
  margin-bottom: 2px;
}

.catalog-page-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 21px;
  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  display: block;
  position: absolute;
  top: 0px;
  right: -15px;
}

.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);

          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: #ffbc9e;
}

.breadcrumbs-current a {
  text-decoration: none;
}

.navigation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 700;
}

.navigation-info p {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-bottom: 4px;
}

.navigation-info a {
  margin: 0;
  margin-left: auto;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

.navigation-info-time {
  font-size: 14px;
  line-height: 16px;
}

.navigation-info-phone {
  font-size: 22px;
  line-height: 24px;
}

.catalog-page h1 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;

}

.main-slider {
  margin-bottom: 41px;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.main-slider h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 675px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.main-slider a.main-slider-button {
  padding-left: 42px;
  padding-right: 42px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#switch-slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#switch-slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#switch-slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}


#switch-slide-1:checked ~ .site-wrapper #slide-1,
#switch-slide-2:checked ~ .site-wrapper #slide-2,
#switch-slide-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#switch-slide-1:checked ~ .site-wrapper label[for="switch-slide-1"],
#switch-slide-2:checked ~ .site-wrapper label[for="switch-slide-2"],
#switch-slide-3:checked ~ .site-wrapper label[for="switch-slide-3"] {
  background-color: #ffffff;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1146px;
  min-height: 229px;
  margin-bottom: 40px;
}

.banner-item {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 20px;
  padding-top: 15px;
  padding-left: 19px;
  width: 520px;
  min-height: 194px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner ul {
  list-style: none;
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.banner p {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
}

.banner-button {
  position: absolute;
  right: 20px;
  bottom: 25px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 23px;
}

.raspberry {
  background: url(../img/bcg-raspberry.jpg) no-repeat;
}

.chocolate {
  background: url(../img/bcg-chocolate.jpg) no-repeat;
}

.catalog-page .catalog {
  margin-bottom: 43px;
}

.catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
}

.main-catalog-item,
.catalog-item {
  position: relative;
  margin-right: 26px;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 267px;
  min-height: 300px;
}

.main-catalog-item:nth-child(4n),
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-body {
  z-index: 3;
}

.main-catalog-item:not(:hover) .catalog-item-body,
.catalog-item:not(:hover) .catalog-item-body {
  z-index: 0;
}

.catalog img {
  margin-bottom: 7px;

  width: 267px;
  height: 267px;
}

.catalog a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.main-catalog-item::after,
.catalog-item::after {
  content: "";
  position: absolute;
  left: -13px;
  top: -6px;
  z-index: 1;
  width: 293px;
  height: calc(100% + 83px);
  border-radius: 5px;
}

.main-catalog-item:focus::after,
.main-catalog-item:hover::after,
.catalog-item:focus::after,
.catalog-item:hover::after {
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-item-price {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 208px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  z-index: 3;
}

.catalog-item-price .price {
  margin: 0;
  padding-right: 35px;
}

.catalog-item-price .price::after {
  content: url("../img/ruble.svg");
  position: absolute;
  top: 4px;
  right: 41px;
  width: 31px;
  height: 36px;
}

.catalog-item-price .kilo {
  font-size: 30px;
}

.catalog-item-link {
  display: inline-block;
  padding: 0 5px;
  max-width: 267px;
  text-align: center;
  z-index: 3;
}

.catalog a.button {
  font-weight: 700;
}

.catalog a:focus,
.catalog a:hover {
  color: #ffbc9e;
}

.catalog-button {
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -90px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 22px;
  z-index: 5;
  display: none;
}

.main-catalog-item:hover .catalog-button,
.main-catalog-item:focus .catalog-button,
.catalog-item:hover .catalog-button,
.catalog-item:focus .catalog-button {
  display: block;
  z-index: 5;
}

.main-features {
  color: #323232;
  font-weight: 400;
  background: url(../img/bcg-waffle.jpg);
  border-radius: 15px;
  margin-bottom: 40px;
  min-width: 1146px;
  min-height: 306px;
}

.main-features h3 {
  margin: 0 20px;
  padding-top: 24px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.main-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  list-style: none;
}

.features-item {
  position: relative;
  width: 478px;
  margin-left: 76px;
  margin-right: 12px;
  margin-bottom: 22px;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: -57px;
}

.features-item-1::before {
  background-image: url("../img/icon-seo-ice-cream.svg");
}

.features-item-2::before {
  background-image: url("../img/icon-seo-cow.svg");
}

.features-item-3::before {
  background-image: url("../img/icon-seo-leaf.svg");
}

.features-item-4::before {
  background-image: url("../img/icon-seo-thermometer.svg");
}

.main-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.main-blog-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 20px;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}

.main-blog-preview {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bcg-strawberry_1.jpg");
  background-repeat: no-repeat;
  background-position: 18% 63%;
}

.main-blog-preview h3 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.main-blog-preview a {
  display: inline-block;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.main-subscription {
  min-height: auto;
  padding: 6px;
  font-weight: 400;
  color: #5a5a5a;
  background: url(../img/bcg-strips.png) no-repeat;
}

.main-subscription-background {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 29px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  width: 549px;
  min-height: 210px;
  height: calc(100%);
  background-color: #f8f7f4;
  border-radius: 10px;
}

.main-subscription p {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.main-subscription input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 368px;
  height: 44px;
  padding: 13px 14px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.main-subscription input:hover,
.main-subscription input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.main-subscription input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscription-button {
  position: absolute;
  /* bottom: 36px; */
  right: 21px;
  padding-left: 19px;
  padding-right: 19px;
  line-height: 24px;
  border-radius: 22px;
}

.main-map {
  margin-bottom: 17px;
  position: relative;
  height: 430px;
}

.main-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  z-index: 5;
  border: none;
}

.main-map-container {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
}

.main-map img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-map-container::before {
  content:"";
  position: absolute;
  top: 139px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.main-map-container::after {
  content:"";
  position: absolute;
  top: 171px;
  left: 302px;
  width: 182px;
  height: 110px;
  background-image: url("../img/pin-shadow.png");
  background-repeat: no-repeat;
  z-index: 3;
}

.main-map-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
  width: 302px;
  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 10;
}

.main-map-info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.map-info-adress {
  margin-top: 28px;
  margin-right: 25px;
}

.map-info-phone {
  margin-top: 21px;
  margin-bottom: 25px;
  margin-right: 105px;
}

.main-map-info .phone {
  display: inline-block;
  margin-top: 4px;
}

.map-info-button {
  margin-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;
  line-height: 24px;
  border-radius: 22px;
}

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 25px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 880px;
}

.filter fieldset {
  border: none;
  margin-bottom: 15px;
}

.filters legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.filters ul {
  list-style: none;
}

.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
}

.filter-item-fat legend,
.filter-item-additive legend,
.filter-item-sort legend,
.filter-item-price legend {
  padding-left: 15px;
}

.filter-fat,
.filter-additive,
.filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 9px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18.5px;
}

.filters select {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  padding-top: 16px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 32px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/icon-down-dir.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filters select::-ms-expand {
    display: none;
}

.filters select:hover {
  color: #323232;
  background-image: url("../img/icon-down-dir-black.svg");
  background-position: 168px center;
  background-repeat: no-repeat;
}

.filter-item-sort option {
  color: #323232;
}

.filter-price {
  position: relative;
  margin: 0;
  padding: 16px 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18.5px;
}

.filter-item-price input,
.filter-item-price input:hover,
.filter-item-price input:focus,
.filter-item-price input:active {
  display: none;
}

.filter-price .scale {
  width: 176px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.filter-price .bar {
  margin-left: 33px;
  width: 78px;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 8px solid #ffffff;
  border-radius: 50%
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 133px;
}

.range-toggle:hover {
  position: absolute;
  top: 8px;
  width: 22px;
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(132, 157, 143, 0.2);
  border: 9px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.filter-fat li {
  position: relative;
  padding-left: 32px;
  padding-right: 18px;
}

.filter-additive li {
  position: relative;
  padding-left: 32px;
  padding-right: 20px;
}

.filter-additive li:nth-child(3) {
  padding-right: 25px;
}

.filter-fat li:last-child {
  padding-right: 0;
}

.filter-additive li:last-child {
  padding-right: 5px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
  border: 3px solid #ffffff;
}

input[type="radio"]:hover + label::after,
input[type="radio"]:focus + label::after {
  border: 3px solid #ffffff;
  background-color: #ffffff;
}

input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::after {
  border: 3px solid rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 20px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):hover + label::before,
input[type="checkbox"]:not(:checked):focus + label::before {
  background: url("../img/checkbox-off-hover.svg") no-repeat 0 0;
}

input[type="checkbox"]:not(:checked):disabled + label::before {
  background: url("../img/checkbox-off-disabled.svg") no-repeat 0 0;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background: url("../img/checkbox-on-hover.svg") no-repeat 0 0;
}

input[type="checkbox"]:checked:disabled + label::before {
  background: url("../img/checkbox-on-disabled.svg") no-repeat 0 0;
}

.filter-button {
  display: block;
  width: 144px;
  height: 37px;
  margin-top: 21px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18.5px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.sort {
  font-size: 16px;
  line-height: 18px;
  border: none;
}

.catalog-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 190px;
  padding: 0;
  margin-left: auto;
  margin-bottom: 29px;
}

.catalog-pagination a {
  display: inline-block;
  margin-right: 3px;
  padding: 4px 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
}

.catalog-pagination .pagination-item:not(.pagination-item-current):hover,
.catalog-pagination .pagination-item:not(.pagination-item-current):focus {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 50%;
}

.catalog-pagination .pagination-item:not(.pagination-item-current):active {
  color: #323232;
  background-color: #ffffff;
}

a.pagination-item-current {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.catalog-pagination .pagination-link-blocked {
  color: rgba(255, 255, 255, 0.2);
}

.catalog-link-prev svg {
  position: absolute;
  top: 8px;
  right: 182px;
  width: 8px;
  height: 12px;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.catalog-link-prev path {
  fill: rgba(255, 255, 255, 0.2);
}

.catalog-pagination .catalog-link-next {
  margin-right: 0;
  padding-left: 10px;
}

.catalog-link-next svg {
  position: absolute;
  top: 7px;
  width: 8px;
  height: 12px;
}

.catalog-page .main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top:18px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.main-footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
}

.main-footer ul {
  list-style: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  width: 267px;
}

.footer-social li {
  position: relative;
  margin-top: 3px;
  margin-right: 18px;
}

.footer-social li:first-child {
  margin-left: 2px;
}


.footer-social svg {
  box-sizing: border-box;
  box-shadow: 0px 0px 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social .social-button {
  display: inline-block;

  width: 32px;
  height: 32px;
}

.social-button path {
  opacity: 0.8;
}

.social-button:hover svg,
.social-button:focus svg,
.social-button:active svg,
.social-button:active svg {
  box-shadow: 0px 0px 0 3px rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path,
.social-button:active path {
  fill: #e9e9e9;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  width: 560px;
}

.footer-info-list {
  margin: 0;
  margin-top: 12px;
  margin-right: 32px;
  padding: 0;
}

.footer-info .current {
  font-weight: 700;
  position: relative;
}

.footer-info .current::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -22px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-footer-heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright,
.footer-copyright a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #fefefe;
  width: 267px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
  margin-left: 77px;
}

.footer-copyright img {
  margin-left: 78px;
}

@-webkit-keyframes magic {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes rotate {
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

.modal-error {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -240px;
  margin-top: -220px;
  padding: 20px 25px;
  padding-bottom: 70px;
  width: 478px;
  border-radius: 10px;
  background-color: #f8f7f4;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  z-index: 20;
  display: none;
}

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0;
  padding: 0;
}

.modal-feedback input {
  padding-left: 15px;
  width: 267px;
  height: 44px;
}

.modal-feedback textarea {
  padding: 10px 15px;
  width: 413px;
  height: 145px;
}

.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 22px;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 19;
  display: none;
}

.overlay-view {
  display: block;
}

.modal-view {
  display: block;
  -webkit-animation-name: magic;
          animation-name: magic;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.modal-error {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.navigation-search-form input:focus + label,
.navigation-login-form input:focus + label,
.main-subscription input:focus + label,
.modal-feedback input:focus + label,
.modal-feedback textarea:focus + label {
  display: none;
}
